.input-container{
    display: flex;
    padding: 15px;
    background-color: rgb(11, 11, 26);
    border-radius: 10px;
}
.input-container #taskName{
    border: 0 !important;
    color: #a9a9a9;
    width: 100%;
    margin: 0 10px 0 0;
    background: transparent;
}

.input-container #taskName:focus{
    border: 1px solid #262525 !important;
    box-shadow: none !important;
    color: #a9a9a9 !important;
}

.input-container #startDate {
    border: 1px solid #262525 !important;
    width: 30%;
    color: #262525;
    margin: 0 10px 0 0;
    background: #a9a9a9;
}
.stopwatch-time {
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 26px;
}

.stopwatch-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch-buttons p{
    margin: 0 !important;
}
.stopwatch-buttons button {
    margin: 0 5px ;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
}

.stopwatch-buttons button:nth-child(2) {
    background-color: green;
}

.stopwatch-buttons button:last-child {
    background-color: red;
}